---
layout: section
---
- system = system.to_s
.ui.cubes.header.dividing
  %i.book.icon
  .content= "Partidas de Rol de #{data.rol_system[system]}"
.ui.grid.stackable.two.column
  - data.rol.select{|r| r[:system] == system}.each do |rol|
    .column= partial(:rol_item, locals: rol)
