.ui.card.cosplay_item
  .content
    .center.aligned.header= name
    .center.aligned.description
      .ui.image
        %img{src: image}
      %p= description
  .extra.content
    .center.aligned
      %a{href: url, target: '_blank'} Sitio web
