.ui.raised.segment
  .content
    %h2.header ¿Quieres disfrutar en familia de un sábado lleno de juegos de mesa, rol y wargames?
    Sábado 23 de noviembre de 2019
  .ui.basic.segment
    .ui.items
      .item
        .image
          %img.ui.image{src: '/images/event1.jpg'}
        .content
          .header Para grandes y pequeños
          .description
            Habrá monitores que mostrarán a los más pequeños el mundo de los juegos de mesa, rol y wargames. Mientras tanto los mayores también podrán disfrutar de este maravilloso mundo y echar unas buenas partidas.
      .item
        .image
          %img.ui.image{src: '/images/event2.jpg'}
        .content
          .header ¿Donde tengo que ir?
          .description
            Centro de Juventud de Collado Villalba (enfrente del Carrefour).
            %br
            C/ Rincón de las Heras, 10, 28400 Collado Villalba, Madrid
      .item
        .content
          .ui.right.floated
            %iframe{src: 'https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12110.597940004607!2d-4.008542!3d40.6376114!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x200afc49f58b59c9!2sCentro%20de%20Juventud!5e0!3m2!1ses!2ses!4v1574271886921!5m2!1ses!2ses', width: '290', frameborder: '0', style: 'border:0;', allowfullscreen: ''}
