.ui.inverted.vertical.footer.segment
  .ui.container
    .ui.stackable.inverted.equal.height.stackable.grid
      .three.wide.column
        %h4.ui.inverted.header Síguenos
        .ui.inverted.link.list
          %a.item{href: 'https://twitter.com/menteludic', target: '_blank'}
            %i.ui.icon.twitter
            Twitter
          %a.item{href: 'https://www.instagram.com/menteludic/', target: '_blank'}
            %i.ui.icon.instagram
            Instagram
          %a.item{href: 'https://www.facebook.com/events/3219947994683738/', target: '_blank'}
            %i.ui.icon.facebook
            Facebook
          %a.item{href: 'mailto:menteludic@gmail.com'}
            %i.ui.icon.mail
            Correo
      .twelve.wide.column.right.aligned
        %img{src: '/images/logos_footer.png'}

