.ui.basic.segment
  .ui.image
    %img{src: '/images/menteludic_cartel.jpg'}
.ui.basic.segment
  .ui.dividing.header
    %i.map.marker.icon
    .content Dónde
  .ui.card.centered
    .image
      = partial(:map)
    .content
      .header Plaza de Toros de Moralzarzal
      .description C/Av. Salvador Sanchez Frascuelo, 7
      .extra 28411 Moralzarzal, Madrid
.ui.basic.segment
  .ui.dividing.header
    %i.calendar.alternate.outline.icon.icon
    .content 18, 19 y 20 de Octubre de 2019
  .ui.item
    .content
      .ui.list
        .item Viernes 18 de 17:00 a 22:00
        .item Sábado 19 de 11:00 a 22:00
        .item Domingo 20 de 11:00 a 18:00
.ui.basic.segment
  .ui.dividing.header
    %i.hand.point.right.outline.icon
    .content Quién
  .ui.item
    .content
      .header Asociación Portal Lúdico
      .ui.list
        %a.item{href: 'https://twitter.com/portalludico', target: '_blank'}
          %i.ui.icon.twitter
          Twitter
        %a.item{href: 'https://www.instagram.com/asociacionportalludico/', target: '_blank'}
          %i.ui.icon.instagram
          Instagram
        %a.item{href: 'https://www.facebook.com/asociacionportalludico/', target: '_blank'}
          %i.ui.icon.facebook
          Facebook

