---
layout: section
---
.ui.basic.segment
  %h2.header
    %i.book.icon
    Concurso de microrrelatos: Tu personaje de rol
  %p
    %h3 BASES
    %ul.ui.list
      %li.item
        %b Primera:
        Podrán concurrir a este certamen todos los escritores mayores de dieciocho años residentes en España.
      %li.item
        %b Segunda:
        Las obras deberán ser originales e inéditas y no deben haber sido premiadas anteriormente ni estar pendiente de fallo en otros concursos.
        Únicamente se podrá presentar una obra por participante.
      %li.item
        %b Tercera:
        El tema de los relatos será libre, pero deberá estar enmarcado en el género de trasfondos de Personajes de Rol.
        Las obras deben estar escritas en lengua castellana y se tendrán en cuenta las reglas gramaticales vigentes para su valoración.
      %li.item
        %b Cuarta:
        Las obras tendrán una extensión de hasta 400 palabras, sin incluir el título.
        No contendrán imágenes ni irán firmadas por su autor. Las obras se enviarán como un archivo de WORD adjunto a la dirección menteludic@gmail.com con el asunto “CONCURSO MICRORELATOS PERSONAJES DE ROL”. El archivo irá identificado con el título del relato. En el cuerpo del mensaje se incluirá únicamente el título del relato y el nombre del autor, junto con un email de contacto.
      %li.item
        %b Quinta:
        El plazo de admisión de trabajos finaliza el día 15 de octubre de 2019, a las 23.59 hora peninsular.
        El jurado estará compuesto por miembros integrantes del equipo de Portal Lúdico y escritores de género. El fallo del jurado será inapelable y se hará público, junto con la identidad de sus integrantes, durante el Festival de Moralzarzal el día 20 de octubre, 2019.
      %li.item
        %b Sexta:
        Se valorará en la evaluación de los relatos la creatividad, la originalidad, el dominio en el uso de las técnicas y procedimientos empleados, la calidad literaria y el contenido del relato, así como el desarrollo y la presentación de un personaje. Los organizadores del certamen se reservan el derecho a eliminar aquellos relatos que puedan resultar ofensivos y que atenten contra la protección de la infancia, la intimidad y el honor de terceros o induzcan, inciten o promuevan cualquier tipo de actuaciones delictivas, denigratorias y/o violentas en cualquiera de sus formas.
      %li.item
        %b Séptima:
        De todas las obras participantes se seleccionarán como finalistas las que hayan obtenido una mayor puntuación por parte del jurado. De entre ellas se elegirá el microrrelato ganador, cuyo autor recibirá un lote de libros y juegos de mesa. El Jurado se reserva el derecho a declarar desierto el concurso.
      %li.item
        %b Octava:
        Portal Lúdico se reserva el derecho de publicar y difundir la obra premiada y finalistas en distintas plataformas con carácter no exclusivo, citando de forma visible su autoría. Portal Lúdico, durante el 15 de octubre de 2019, se pondrá en contacto con el ganador y los finalistas a fin de que puedan acudir al Festival de Moralzarzal para conocer el fallo del jurado y recoger allí el premio.
        En caso de no poder acudir deberán enviar un representante, previo aviso a Portal Lúdico.
      %li.item
        %b Novena:
        Cualquier característica sobre el concurso no contemplada en estas bases será resuelta por el Jurado del certamen.
        No se mantendrá correspondencia con los participantes durante la selección de las obras ni después de haber fallado el concurso.
      %li.item
        %b Décima:
        Los participantes aceptan las bases que rigen este concurso por el hecho de participar.

  %p Firmado: Portal Lúdico


.ui.basic.segment.center.aligned
  .ui.big.image
    %img{src: '/images/premio_microrrelatos.jpg'}
  %br
  Algunos de los premios para el ganador del concurso.
  %br
  Uno de los premios se sorteará entre todos los participantes.