---
layout: section
---
.ui.header.dividing
  %i.book.icon
  .content Partidas de Rol
.ui.grid.stackable.two.column
  - data.rol.sort_by{|e| Date.parse(e[:date])}.each do |rol|
    .column= partial(:rol_item, locals: rol)

