---
layout: section
---
.ui.basic.segment
  %h3.ui.header
    %i.book.icon
    .content
      Torneo de Harry Potter Miniature Game
      .sub.header Sábado 20, de 11:00 a 15:00
  .ui.clearing.divider

  .ui.basic.segment
    %img.ui.large.image{src: '/images/event/harry_potter.jpg'}

  .ui.basic.segment
    %a{href: '/files/harry_potter.pdf', target: '_blank'}
      %i.file.pdf.outline.icon
      Bases del torneo

  .ui.basic.segment
    %h4.header Inscripciones:
    .ui.clearing.divider
    %ul.ui.list
      %li.item
        %a{href: 'https://docs.google.com/forms/d/188trFZhpyS0wGQAqT8iy7oMd3OExvbrllMHSm1_0Ojc', target: '_blank'} Apuntarse aquí
      %li.item
        6€ (pago por paypal: isura1976@hotmail.com)

  .ui.basic.segment
    %h4.header Con la inscripción:
    .ui.clearing.divider
    %ul.ui.list
      %li.item Habrá un par de dados D6 (Blanco y negro) con el logo de Harry Potter
      %li.item
        Un billete de tren a Hogwarts (ojo: Sólo válido para el andén 9 3/4 en Londres ;) )
      %li.item Además de un personaje y un hechizo foil (brillante) para cada uno (se irán cogiendo en orden de posición en el torneo).

  .ui.basic.segment
    %h4.header Premios:
    .ui.clearing.divider
    .ui.large.image
      %img{src: '/images/premio_harry_potter.jpg'}
    %ul.ui.list
      %li.item El ganador podrá elegir entre un blister de Dobby y Kreacher o la figura promo de Harry Potter con la copa de los 3 magos.
      %li.item Habrá dos miniaturas (con su carta) de Sombrero seleccionador que se sortearán al final del torneo
